<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Giriş</title>
</head>
<body style="background-color:#111; color:white; text-align:center; font-family:Arial;">

    <div style="margin-top:100px;">

        <h1>Akıllı Kampüs Araç Takip Sistemi</h1>

        <br>

        <input type="text" placeholder="Kullanıcı Adı" style="padding:10px; width:250px;"><br><br>
        <input type="password" placeholder="Şifre" style="padding:10px; width:250px;"><br><br>

        <button style="padding:10px 20px; font-size:16px;">Sistemi Başlat</button>

    </div>

</body>
</html>