<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Yeni Kayıt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background:#0f1115; color:white; font-family:Arial; padding:30px;">

    <h2>Yeni Araç Kaydı</h2>

    <form method="POST">
        <p>Plaka:</p>
        <input type="text" name="plate" style="padding:10px; width:300px;">

        <p>Giriş Amacı:</p>
        <input type="text" name="visit_text" style="padding:10px; width:300px;">

        <br><br>

        <button type="submit" style="padding:10px 20px;">
            Kaydı Ekle
        </button>
    </form>

    <br>
    <a href="/dashboard" style="color:white;">Ana Panele Dön</a>

</body>
</html>